main.content.scroll-snap {
  height: auto;
  overflow-y: visible;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  section {
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    scroll-snap-align: start;
    border-bottom: 1px solid #ccc;
    overflow: visible;
  }
}