.aboutme-section {
  padding: 0 2rem 12.5% 2rem;
  height: 75vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .section-title {
    grid-column: 1 / 7;
    justify-self: start;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #222;
  }

  .aboutme-container {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: end;
    row-gap: 1.5rem;

    .aboutme-en {
      grid-column: 1 / 4;
      text-align: left;
      padding-right: 1rem;
    }

    .aboutme-fr {
      grid-column: 3 / 6;
      text-align: left;
      padding-left: 1rem;
    }
  }

  .aboutme-block {
    background: white;
    border: 1px solid #ccc;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #444;
  }

  @media (max-width: 768px) {
    height: auto;
    padding-bottom: 2rem;

    .section-title {
      grid-column: 1 / 7;

