.aboutme-section {
  padding: 0 2rem 12.5% 2rem;
  height: 75vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .section-title {
    grid-column: 1 / 7; // titre sur toute la largeur (6 colonnes)
    justify-self: start;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .aboutme-container {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: end;
    row-gap: 1.5rem;

    .aboutme-en {
      grid-column: 1 / 4;  // colonnes 1 à 3
      text-align: left;
      padding-right: 1rem;
    }

    .aboutme-fr {
      grid-column: 3 / 6;  // colonnes 3 à 5
      text-align: left;
      padding-left: 1rem;
    }
  }

  @media (max-width: 768px) {
    height: auto;
    padding-bottom: 2rem;

    .section-title {
      grid-column: 1 / 7;
      margin-bottom: 1rem;
    }

    .aboutme-container {
      grid-column: 1 / 7;
      grid-template-columns: 1fr;
      row-gap: 1.5rem;

      .aboutme-en, .aboutme-fr {
        grid-column: 1 / 2;
        width: 100%;
        padding: 0;
      }
    }
  }

  .aboutme-block {
    background: white;
    border: 1px solid #ccc;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    box-sizing: border-box;
  }
}
