<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>

<body>
  {% include sidebar.html %}
  <main class="content scroll-snap" role="main">
    {% include home.md %}
    {% include aboutme.md %}
    {% include resume.md %}
    {% include publications.md %}
    {% include contacts.md %}
  </main>
</body>
<script>
  const btn = document.querySelector('.hamburger');
  const sidebar = document.querySelector('.sidebar');
  btn.addEventListener('click', () => {
    sidebar.classList.toggle('open');
  });
</script>

</html>